<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="apple-mobile-web-app-status-bar-style" content="#F44336">
    <meta name="msapplication-navbutton-color" content="#F44336">
    <meta name="theme-color" content="#F44336">
    <meta name="color-theme-override" content="#F44336">
    
    <meta name="keywords" content="development">
    <meta name="og:site_name" content="Strawberry Foundations">
    <meta name="og:title" content="Strawberry Foundations">
    <meta name="og:description" content="Strawberry Foundations - Where the best universal and simple software is built">
    <meta name="og:image" content="https://strawberryfoundations.xyz/static/assets/sf_logo.png">
    <meta name="description" content="Strawberry Foundations - Where the best universal and simple software is built">
    <meta name="author" content="Strawberry Foundations">

    <meta content="Strawberry Foundations" property="og:title">
    <meta content="Strawberry Foundations - Where the best universal and simple software is built" property="og:description">

    <title>Strawberry Foundations</title>

    <link rel="icon" href="/static/sf_logo_small.png"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/basic.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-deep_orange.min.css" /> 
    

    
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header header" style="background-color: rgb(36, 37, 38);">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title" style="font-family: Rubik">
                    <a href="/{{ lang }}"><img src="/static/assets/svg/sf_logo_small.svg" width="50px"></a>
                    <strong>Strawberry Foundations</strong>
                </span>

                <div class="spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="/{{ lang }}">{{ loader("our_products") }}</a>
                    <a class="mdl-navigation__link" href="/{{ lang }}">{{ loader("about_us") }}</a>
                    <a class="mdl-navigation__link" href="/{{ lang }}">Link</a>
                    <a class="mdl-navigation__link" href="/{{ lang }}">Link</a>
                </nav>

                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="">
                      <i class="material-icons">search</i></a>
                    {% if not is_authenticated %}
                      <a class="mdl-navigation__link" href="/{{ lang }}/login">{{ loader("login") }}<i class="material-icons" style="margin-left: 5px;">account_circle</i></a>
                    {% else %}
                      <button id="demo-menu-lower-right" class="mdl-navigation__link button-nocolor" href="">{{ account_name }}<img src="{{ profile_picture_url }}" class="profile-picture"></button>
                      
                      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right" style="width: 300px;">
                        <li style="color: black; padding-left: 20px">
                          <a href="/{{ lang }}"><img src="/static/assets/svg/sf_logo.svg" style="width: 70px;"></a>
                          <div style="float: right; margin-right: 20px; margin-top: 10px">
                            @{{ username }} <img src="{{ profile_picture_url }}" class="profile-picture">
                          </div>
                        </li>
                        {% if allowed_ce == "true" %}
                          <li class="mdl-menu__item round"><a style="text-decoration: none; color: #1f1f1f" href="/{{ lang }}/account"><span class="material-symbols-outlined material-symbols-outlined--ul">dns</span><div style="margin-left: 33px">{{ loader("cloud_engine") }}</div></a></li>
                        {% else %}
                          <li id="ce" disabled class="mdl-menu__item round"><span class="material-symbols-outlined material-symbols-outlined--ul">dns</span><div style="margin-left: 33px">{{ loader("cloud_engine") }}</div></li>
                          <div class="mdl-tooltip" data-mdl-for="ce">
                            {{ loader("cloud_engine_deactivated") }}
                          </div>
                        {% endif %}
                        <li class="mdl-menu__item round"><a style="text-decoration: none; color: #1f1f1f" href="/{{ lang }}/account"><span class="material-symbols-outlined material-symbols-outlined--ul">shopping_cart</span><div style="margin-left: 33px">{{ loader("my_products") }}</div></a></li>
                        <hr>
                        <li class="mdl-menu__item round"><a style="text-decoration: none; color: #1f1f1f" href="/{{ lang }}/account"><span class="material-symbols-outlined material-symbols-outlined--ul">settings</span><div style="margin-left: 33px">{{ loader("settings") }}</div></a></li>
                        <li class="mdl-menu__item round"><a style="text-decoration: none; color: #1f1f1f" href="/{{ lang }}/logout"><span class="material-symbols-outlined material-symbols-outlined--ul">logout</span><div style="margin-left: 33px">{{ loader("logout") }}</div></a></li>
                      </ul>
                    {% endif %}
                </nav>

            </div>
        </header>

        {% if view_type == "mobile" %}
          <div class="mdl-layout__drawer">
            <span class="mdl-layout-title" style="font-family: Rubik;">
              <a href="/{{ lang }}"><img src="/static/assets/svg/sf_logo_small.svg" width="50px"></a><br>
              <div><strong>Strawberry</strong></div>
              <div style="margin-top: -25px"><strong>Foundations</strong></div>
              
            </span>
            <nav class="mdl-navigation">
              <a class="mdl-navigation__link" href=""><i class="material-icons">search</i></a>
              <hr>
              <a class="mdl-navigation__link" href="/{{ lang }}">{{ loader("our_products") }}</a>
              <a class="mdl-navigation__link" href="/{{ lang }}">{{ loader("about_us") }}</a>
              <a class="mdl-navigation__link" href="/{{ lang }}">Link</a>
              <a class="mdl-navigation__link" href="/{{ lang }}">Link</a>
              <hr>
              
              {% if not is_authenticated %}
                <a class="mdl-navigation__link" href="/{{ lang }}/login">{{ loader("login") }}<i class="material-icons" style="margin-left: 5px;">account_circle</i></a>
              {% else %}
                <button id="demo-menu-lower-left" class="mdl-navigation__link button-nocolor--drawer" href="">{{ account_name }}<img src="{{ profile_picture_url }}" class="profile-picture"></button>
                
                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left" style="width: 239px; border-radius: 20px;">
                  <li style="color: black; padding-left: 20px">
                    <a href="/{{ lang }}"><img src="/static/assets/svg/sf_logo.svg" style="width: 70px;"></a>
                    <div style="float: left; margin-right: 20px; margin-top: 10px">
                      @{{ username }} <img src="{{ profile_picture_url }}" class="profile-picture">
                    </div>
                  </li>
                  <br><br><hr>
                  {% if allowed_ce == "true" %}
                    <li class="mdl-menu__item round"><a style="text-decoration: none; color: #1f1f1f" href="/{{ lang }}/account"><span class="material-symbols-outlined material-symbols-outlined--ul">dns</span><div style="margin-left: 33px">{{ loader("cloud_engine") }}</div></a></li>
                  {% else %}
                    <li id="ce" disabled class="mdl-menu__item round"><span class="material-symbols-outlined material-symbols-outlined--ul">dns</span><div style="margin-left: 33px">{{ loader("cloud_engine") }}</div></li>
                    <div class="mdl-tooltip" data-mdl-for="ce">
                      {{ loader("cloud_engine_deactivated") }}
                    </div>
                  {% endif %}
                  <li class="mdl-menu__item round"><a style="text-decoration: none; color: #1f1f1f" href="/{{ lang }}/account"><span class="material-symbols-outlined material-symbols-outlined--ul">shopping_cart</span><div style="margin-left: 33px">{{ loader("my_products") }}</div></a></li>
                  <hr>
                  <li class="mdl-menu__item round"><a style="text-decoration: none; color: #1f1f1f" href="/{{ lang }}/account"><span class="material-symbols-outlined material-symbols-outlined--ul">settings</span><div style="margin-left: 33px">{{ loader("settings") }}</div></a></li>
                  <li class="mdl-menu__item round"><a style="text-decoration: none; color: #1f1f1f" href="/{{ lang }}/logout"><span class="material-symbols-outlined material-symbols-outlined--ul">logout</span><div style="margin-left: 33px">{{ loader("logout") }}</div></a></li>
                </ul>
              {% endif %}
            </nav>
          </div>
        {% endif %}

        <main class="mdl-layout__content">
            <div class="page-content">
                <div style="margin-left: 50px; margin-top: 50px">
                    <button id="show-dialog" type="button" class="mdl-button mdl-js-button mdl-button--raised rubik" style="border-radius: 10px; background-color: #e0e0e0">Show Dialog</button>
                    <button id="show-spotify" type="button" class="mdl-button mdl-js-button mdl-button--raised rubik" style="border-radius: 10px; background-color: #a0e0e0">It's tiiiiiiiime!</button>
                </div>

                  <dialog class="mdl-dialog dialog-box" id="data">
                    <h4 class="mdl-dialog__title rubik">Allow data collection?</h4>
                    <div class="mdl-dialog__content">
                      <p>
                        Allowing us to collect data will let us get you the information you want faster.
                      </p>
                    </div>
                    <div class="mdl-dialog__actions">                        
                      <button type="button" class="mdl-button mdl-js-button mdl-button--raised rubik" style="border-radius: 10px; background-color: #a0e0e0">Agree</button>
                      <button type="button" class="mdl-button mdl-js-button mdl-button--raised close rubik "style="border-radius: 10px; background-color: #e0e0e0">Disagree</button>
                    </div>
                  </dialog>

                  <dialog class="mdl-dialog dialog-box" id="spotify" style="width: 1200px">
                    <h4 class="mdl-dialog__title rubik">Allow to hear this banger?</h4>
                    <div class="mdl-dialog__content">
                      <iframe class="slide-in" style="border-radius:12px" src="https://open.spotify.com/embed/track/0SvD6EdetxVtXei2JhkV4B?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    </div>
                    <div class="mdl-dialog__actions">                        
                      <button type="button" class="mdl-button mdl-js-button mdl-button--raised rubik" style="border-radius: 10px; background-color: #a0e0e0">Yes!</button>
                      <button type="button" class="mdl-button mdl-js-button mdl-button--raised close rubik "style="border-radius: 10px; background-color: #e0e0e0">No..</button>
                    </div>
                  </dialog>

                  <script>
                    var dialog = document.querySelector('#data');
                    var showDialogButton = document.querySelector('#show-dialog');
                    if (! dialog.showModal) {
                      dialogPolyfill.registerDialog(dialog);
                    }
                    showDialogButton.addEventListener('click', function() {
                      dialog.showModal();
                    });
                    dialog.querySelector('.close').addEventListener('click', function() {
                      dialog.close();
                    });


                    var dialogSpotify = document.querySelector('#spotify');
                    var showSpotifyButton = document.querySelector('#show-spotify');
                    if (! dialogSpotify.showModal) {
                      dialogPolyfill.registerDialog(dialogSpotify);
                    }
                    showSpotifyButton.addEventListener('click', function() {
                      dialogSpotify.showModal();
                    });
                    dialogSpotify.querySelector('.close').addEventListener('click', function() {
                      dialogSpotify.close();
                    });
                  </script>
            </div>
        </main>
    </div>
    
</body>

</html>