<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="apple-mobile-web-app-status-bar-style" content="#F44336">
    <meta name="msapplication-navbutton-color" content="#F44336">
    <meta name="theme-color" content="#F44336">
    <meta name="color-theme-override" content="#F44336">
    
    <meta name="keywords" content="development">
    <meta name="og:site_name" content="Strawberry Foundations">
    <meta name="og:title" content="Strawberry Foundations">
    <meta name="og:description" content="Strawberry Foundations. Universal and simple software">
    <meta name="og:image" content="http://cdn.strawberrysoftware.ga/logo.png">
    <meta name="description" content="Strawberry Foundations. Universal and simple software">
    <meta name="author" content="Strawberry Foundations">

    <meta content="Strawberry Foundations" property="og:title">
    <meta content="Strawberry Foundations. Universal and simple software" property="og:description">

    <title>Strawberry Foundations</title>

    <link rel="icon" href="/static/sf_logo_small.png"/>
</head>

<body>
    
</body>

</html>