<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="apple-mobile-web-app-status-bar-style" content="#F44336">
    <meta name="msapplication-navbutton-color" content="#F44336">
    <meta name="theme-color" content="#F44336">
    <meta name="color-theme-override" content="#F44336">
    
    <meta name="keywords" content="development">
    <meta name="og:site_name" content="Strawberry Foundations">
    <meta name="og:title" content="Strawberry Foundations">
    <meta name="og:description" content="Strawberry Foundations. Universal and simple software">
    <meta name="og:image" content="http://cdn.strawberrysoftware.ga/logo.png">
    <meta name="description" content="Strawberry Foundations. Universal and simple software">
    <meta name="author" content="Strawberry Foundations">

    <meta content="Strawberry Foundations" property="og:title">
    <meta content="Strawberry Foundations. Universal and simple software" property="og:description">

    <title>Strawberry Foundations</title>

    <link rel="icon" href="/static/sf_logo_small.png"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-deep_orange.min.css" /> 
    
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header" style="background-color: rgb(36, 37, 38);">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title" style="font-family: Rubik">
                    <a href="/"><img src="/static/assets/svg/sf_logo_small.svg" width="50px"></a>
                    <strong>Strawberry Foundations</strong>
                </span>
                <div class="spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="">{{ loader("our_products") }}</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                </nav>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="{{ lang }}/login">{{ loader("login") }}</a>
                </nav>
            </div>
        </header>

        <main class="mdl-layout__content">
            <div class="page-content">
                
                {{ loader('test') }}
                
            </div>
        </main>
    </div>
    
</body>

</html>