<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="apple-mobile-web-app-status-bar-style" content="#F44336">
    <meta name="msapplication-navbutton-color" content="#F44336">
    <meta name="theme-color" content="#F44336">
    <meta name="color-theme-override" content="#F44336">
    
    <meta name="keywords" content="development">
    <meta name="og:site_name" content="Strawberry Foundations">
    <meta name="og:title" content="Strawberry Foundations">
    <meta name="og:description" content="Strawberry Foundations. Universal and simple software">
    <meta name="og:image" content="http://cdn.strawberrysoftware.ga/logo.png">
    <meta name="description" content="Strawberry Foundations. Universal and simple software">
    <meta name="author" content="Strawberry Foundations">

    <meta content="Strawberry Foundations" property="og:title">
    <meta content="Strawberry Foundations. Universal and simple software" property="og:description">

    <title>Strawberry Foundations</title>

    <link rel="icon" href="/static/sf_logo_small.png"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/basic.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-deep_orange.min.css" /> 
    
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header" style="background-color: rgb(36, 37, 38);">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title" style="font-family: Rubik">
                    <a href="/{{ lang }}"><img src="/static/assets/svg/sf_logo_small.svg" width="50px"></a>
                    <strong>Strawberry Foundations</strong>
                </span>
            </div>
        </header>

        <main class="mdl-layout__content">
            <div class="page-content">
                <center>
                    <h1><strong>{{ loader("register") }}</strong></h1>

                    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 400px; height: 550px; border-radius: 15px;">
                        <div class="mdl-card__title">
                            <img src="/static/assets/svg/sf_logo.svg" width="90px">
                        </div>

                        <div class="mdl-card__supporting-text">
                            <form action="" method="post">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input name="username" value="{{request.form.username}}" class="mdl-textfield__input" style="font-family: Rubik" type="text" id="login_username">
                                    <label class="mdl-textfield__label" for="username">{{ loader("input_username") }}</label>
                                </div>

                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input name="name" value="{{request.form.email}}" class="mdl-textfield__input" style="font-family: Rubik" type="text" id="login_name">
                                    <label class="mdl-textfield__label" for="name">{{ loader("input_name") }}</label>
                                </div>

                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input name="email" value="{{request.form.email}}" class="mdl-textfield__input" style="font-family: Rubik" type="text" id="login_email">
                                    <label class="mdl-textfield__label" for="email">{{ loader("input_email") }}</label>
                                </div>

                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input name="password" value="{{request.form.password}}" class="mdl-textfield__input" style="font-family: Rubik" type="password" id="login_password">
                                    <label class="mdl-textfield__label" for="password">{{ loader("input_password") }}</label>
                                </div>

                                <input id="show-dialog" class="button-strawberry mdl-button--raised" style="background-color: #ed1c28" type="submit" value="{{ loader('register') }}">
                                <!-- <button id="show-dialog" type="button" class="button-strawberry">{{ loader('login') }}</button> -->
                            </form>

                            <h6 class="rubik">{{ loader("have_account") }} <a href="/{{ lang }}/login">{{ loader("have_account_2") }}</a></h6>
                        </div>
                        <dialog id="error-dialog" class="mdl-dialog dialog-box-login" style="margin-top: -110px;">
                            <h4 class="mdl-dialog__title rubik" style="color: red"><strong>{{ loader("error_login") }}</strong></h4>
                            <div class="mdl-dialog__content rubik">
                                <p>{{ loader("wrong_uname_pword") }}</p>
                            </div>
                            <div class="mdl-dialog__actions">
                                <button type="button" class="mdl-button mdl-js-button mdl-button--raised close rubik" style="border-radius: 10px; background-color: #e0e0e0">{{ loader("close") }}</button>
                            </div>
                        </dialog>

                        {% if error %}
                            <script>
                                var dialog = document.querySelector('#error-dialog');
                                var showDialogButton = document.querySelector('#show-dialog');
                                
                                if (! dialog.showModal) {
                                    dialogPolyfill.registerDialog(dialog);
                                }

                                dialog.showModal();

                                dialog.querySelector('.close').addEventListener('click', function () {
                                    dialog.close();
                                });
                            </script>
                        {% endif %}
                    </div>
                </center>
            </div>
        </main>
    </div>
</body>

</html>