.center {
    text-align: center;
}

.rubik {
    font-family: Rubik;
}

.spacer {
    margin-left: 50px;
}

.profile-picture {
    border-radius: 20px;
    margin-left: 15px;
    width: 30px;
}

.profile-picture-big {
    border-radius: 50px;
    margin-right: 10px;
    width: 100px;   
}

.profile-box {
    margin-right: 10px
}

.mid-left-center {
    margin-left: -1000px
}

.mid-right {
    float: right;
    margin-right: 300px
}

.profile-box-username--small {
    position: relative;
    margin-top: -40px;
    margin-left: 124px
}


.invisible-button {
    display: none;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.material-symbols-outlined--ul {
    padding-top: 10px;
    position: absolute
}

