@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.mdl-layout-title {
    font-family: Rubik;
}

.mdl-layout__header {
    background-color: rgb(36, 37, 38);
}

.rubik-font--default {
    font-family: Rubik;
}
