* {
    font-family: Rubik;
}

.mdl-layout-title {
    font-family: Rubik;
}

.mdl-layout__header {
    background-color: rgb(36, 37, 38);
}

.rubik-font--default {
    font-family: Rubik;
}

.spacer {
    margin-left: 50px;
}

/* a:link {
    color: #7ba1ff;
    background-color: transparent;
}

a:hover {
    color: #d2aff3;
    background-color: transparent;
}

a:active {  
    color: #d2aff3;
    background-color: transparent;
} */

